In [29]:
# install.packages("lubridate")
# install.packages("mltools")
# install.packages("data.table")

library(lubridate)
library(mltools)
library(data.table)

In [30]:
dados <- read.csv("../data/credito4.csv", sep = ";", na.strings = "", stringsAsFactors = TRUE, encoding = "UTF-8")

head(dados)

  SALDO_ATUAL RESIDENCIADESDE IDADE OUTROSPLANOSPGTO DATA
1 1169        4               67    nenhum           01/01/2019
2 5951        2               22    nenhum           01/01/2020
3 2096        3               49    nenhum           02/01/2020
4 7882        4               45    nenhum           02/01/2019
5 4870        4               53    nenhum           03/01/2018
6 9055        4               35    nenhum           04/01/2020
  ESTADOCIVIL        PROPOSITO           CLASSE
1 masculino solteiro radio/tv            bom
2 fem div/cas        radio/tv            ruim
3 masculino solteiro educação            bom
4 masculino solteiro mobilia/equipamento bom
5 masculino solteiro carro novo          ruim
6 masculino solteiro educação            bom

In [31]:
# Verificando a quantidade de valores NA
summary(dados[!complete.cases(dados), ])

  SALDO_ATUAL   RESIDENCIADESDE     IDADE       OUTROSPLANOSPGTO         DATA
 Min.   :1204   Min.   :1       Min.   :20.00   banco : 2        21/12/2019:2
 1st Qu.:1278   1st Qu.:2       1st Qu.:27.50   nenhum:12        04/03/2019:1
 Median :1938   Median :4       Median :35.00   stores: 1        08/01/2019:1
 Mean   :2262   Mean   :3       Mean   :36.33                    13/01/2020:1
 3rd Qu.:2667   3rd Qu.:4       3rd Qu.:42.00                    13/04/2020:1
 Max.   :4771   Max.   :4       Max.   :63.00                    17/01/2018:1
 NA's   :7                                                       (Other)   :8
                 ESTADOCIVIL               PROPOSITO  CLASSE
 fem div/cas           :3    radio/tv           :6   bom :10
 masculino casado/viuvo:0    carro novo         :4   ruim: 5
 masculino div/sep     :0    mobilia/equipamento:2
 masculino solteiro    :4    carro usado        :1
 NA's                  :8    Eletrodomésticos   :1
                             negócios           :1
                             (Other)            :0

### NA

In [32]:
summary(dados$SALDO_ATUAL)

     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.      NA's
2.500e+02 1.371e+03 2.323e+03 2.426e+07 3.976e+03 2.154e+10         7

In [33]:
median(dados$SALDO_ATUAL, na.rm = TRUE)

[1] 2323

In [34]:
# Substituindo os valores NA pela mediana
dados$SALDO_ATUAL[is.na(dados$SALDO_ATUAL)] <- median(dados$SALDO_ATUAL, na.rm = TRUE)

In [35]:
dados[!complete.cases(dados$SALDO_ATUAL), ]

     SALDO_ATUAL RESIDENCIADESDE IDADE OUTROSPLANOSPGTO DATA ESTADOCIVIL
     PROPOSITO CLASSE

In [36]:
unique(dados$ESTADOCIVIL)

[1] masculino solteiro     fem div/cas            masculino div/sep
[4] masculino casado/viuvo <NA>
4 Levels: fem div/cas masculino casado/viuvo ... masculino solteiro

In [37]:
summary(dados$ESTADOCIVIL)

           fem div/cas masculino casado/viuvo      masculino div/sep
                   308                     92                     50
    masculino solteiro                   NA's
                   542                      8

In [38]:
# Substituindo os valores NA por "masculino solteiro"
dados[is.na(dados$ESTADOCIVIL), ]$ESTADOCIVIL <- "masculino solteiro"

In [39]:
dados[is.na(dados$ESTADOCIVIL), ]

     SALDO_ATUAL RESIDENCIADESDE IDADE OUTROSPLANOSPGTO DATA ESTADOCIVIL
     PROPOSITO CLASSE

### Outliers

In [40]:
desv <- sd(dados$SALDO_ATUAL, na.rm = TRUE)
desv

[1] 685936689

In [41]:
# Exibindo os valores que estão acima de 2 desvios padrão
dados[dados$SALDO_ATUAL >= 2 * desv, ]$SALDO_ATUAL

[1]  2541111000 21544411255

In [42]:
# Substituindo os valores que estão acima de 2 desvios padrão pela mediana
dados[dados$SALDO_ATUAL > 2 * desv, ]$SALDO_ATUAL <- median(dados$SALDO_ATUAL, na.rm = TRUE)

In [43]:
dados[dados$SALDO_ATUAL > 2 * desv, ]$SALDO_ATUAL

numeric(0)

### Data Binding

In [45]:
summary(dados$PROPOSITO)

         carro novo         carro usado            educação    Eletrodomésticos
                234                 103                  50                  12
mobilia/equipamento            negócios               obras              outros
                181                  97                  22                  12
       qualificação            radio/tv
                  9                 280

In [46]:
dados[dados$PROPOSITO == "Eletrodomésticos", ]$PROPOSITO <- "outros"
dados[dados$PROPOSITO == "mobilia/equipamento", ]$PROPOSITO <- "outros"
dados[dados$PROPOSITO == "educação", ]$PROPOSITO <- "outros"

In [47]:
# Convertendo a variável PROPOSITO para fator
dados$PROPOSITO <- factor(dados$PROPOSITO)

In [48]:
summary(dados$PROPOSITO)

  carro novo  carro usado     negócios        obras       outros qualificação
         234          103           97           22          255            9
    radio/tv
         280