In [1]:
file1 = open("files/file.txt")
# print(file1)
# print(file1.read())
# print(file1.seek(0,0))
print(file1.read())

This is a test file
:)

In [7]:
file2 = open("files/file1.txt", "w")
file2.write("test file 2")
file2.close()
file2 = open("files/file1.txt", "r")
print(file2.read())
# file2 = open("file1.txt", "a") #append
# file2.write(" append")
# file2.close()

test file 2

In [3]:
import pandas as pd

df = pd.read_csv("files/salary.csv")

df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [4]:
df['Position Title'].value_counts()

POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: Position Title, Length: 1094, dtype: int64

In [10]:
import os

file3 = open(os.path.join('files/file2.txt'), 'w')

file3.write("Test file OS import")

file3.close()

r_file3 = open('files/file2.txt', 'r')

print(r_file3.read())

Test file OS import

In [14]:
with open('files/file3.txt', 'w') as w_file4:
    w_file4.write("opening and closing with 'with'")

with open('files/file3.txt', 'r') as r_file4:
    print(r_file4.read())

opening and closing with 'with'

In [16]:
import csv

with open("files/grades.csv", 'w') as csv_file:
    writer = csv.writer(csv_file)
    
    writer.writerow(('grade1', 'grade2', 'grade3'))
    writer.writerow((63, 89, 99))
    writer.writerow((62, 85, 98))
    writer.writerow((63, 82, 91))
    
with open('files/grades.csv', 'r', encoding='utf8', newline='\r\n') as r_csv_file:
    reader = csv.reader(r_csv_file)
    
    for x in reader:
        print(x)

['grade1', 'grade2', 'grade3']
['63', '89', '99']
['62', '85', '98']
['63', '82', '91']