In [44]:
import numpy as np
import pandas as pd
import statistics
from scipy import stats
import math

In [45]:
original_data = np.array(
    [
        150,
        151,
        152,
        152,
        153,
        154,
        155,
        155,
        155,
        155,
        156,
        156,
        156,
        157,
        158,
        158,
        160,
        160,
        160,
        160,
        160,
        161,
        161,
        161,
        161,
        162,
        163,
        163,
        164,
        164,
        164,
        165,
        166,
        167,
        168,
        168,
        169,
        170,
        172,
        173,
    ]
)

data = original_data

In [46]:
data.sum() / len(data), data.mean(), statistics.mean(data)

(160.375, 160.375, 160)

In [47]:
statistics.mode(data), stats.mode(data)

(160, ModeResult(mode=160, count=5))

In [48]:
odd_data = [150, 151, 152, 152, 153, 154, 155, 155, 155]

position = math.ceil(len(odd_data) / 2)

odd_data[position - 1]

153

In [49]:
position = len(data) // 2

(data[position - 1] + data[position]) / 2

160.0

### Easy way

In [50]:
np.median(odd_data), statistics.median(odd_data)

(153.0, 153)

In [51]:
np.median(data), statistics.median(data)

(160.0, 160.0)

### Weighted Arithmetic Mean

In [52]:
grades = np.array([9, 8, 7, 3])
weights = np.array([1, 2, 3, 4])

np.average(grades, weights=weights), (9 * 1 + 8 * 2 + 7 * 3 + 3 * 4) / (
    1 + 2 + 3 + 4
), (grades * weights).sum() / weights.sum()

(5.8, 5.8, 5.8)

In [53]:
data = {
    "lower": [150, 154, 158, 162, 166, 170],
    "upper": [154, 158, 162, 166, 170, 174],
    "fi": [5, 9, 11, 7, 5, 3],
}

dataset = pd.DataFrame(data)

dataset

   lower  upper  fi
0    150    154   5
1    154    158   9
2    158    162  11
3    162    166   7
4    166    170   5
5    170    174   3

In [54]:
dataset["xi"] = (dataset["lower"] + dataset["upper"]) / 2

dataset

   lower  upper  fi     xi
0    150    154   5  152.0
1    154    158   9  156.0
2    158    162  11  160.0
3    162    166   7  164.0
4    166    170   5  168.0
5    170    174   3  172.0

In [55]:
dataset["fi.xi"] = dataset["fi"] * dataset["xi"]

dataset

   lower  upper  fi     xi   fi.xi
0    150    154   5  152.0   760.0
1    154    158   9  156.0  1404.0
2    158    162  11  160.0  1760.0
3    162    166   7  164.0  1148.0
4    166    170   5  168.0   840.0
5    170    174   3  172.0   516.0

In [56]:
dataset["Fi"] = 0

dataset

   lower  upper  fi     xi   fi.xi  Fi
0    150    154   5  152.0   760.0   0
1    154    158   9  156.0  1404.0   0
2    158    162  11  160.0  1760.0   0
3    162    166   7  164.0  1148.0   0
4    166    170   5  168.0   840.0   0
5    170    174   3  172.0   516.0   0

In [57]:
counter = 0
sum_frequencies = []

for row in dataset.iterrows():
    counter += row[1]["fi"]
    sum_frequencies.append(counter)

dataset["Fi"] = sum_frequencies

dataset

   lower  upper  fi     xi   fi.xi    Fi
0    150    154   5  152.0   760.0   5.0
1    154    158   9  156.0  1404.0  14.0
2    158    162  11  160.0  1760.0  25.0
3    162    166   7  164.0  1148.0  32.0
4    166    170   5  168.0   840.0  37.0
5    170    174   3  172.0   516.0  40.0

#### easy way

In [58]:
dataset["Fi"] = dataset["fi"].cumsum()

dataset

   lower  upper  fi     xi   fi.xi  Fi
0    150    154   5  152.0   760.0   5
1    154    158   9  156.0  1404.0  14
2    158    162  11  160.0  1760.0  25
3    162    166   7  164.0  1148.0  32
4    166    170   5  168.0   840.0  37
5    170    174   3  172.0   516.0  40

In [59]:
dataset["fi"].sum(), dataset["fi.xi"].sum()

(40, 6428.0)

In [60]:
dataset["fi.xi"].sum() / dataset["fi"].sum()

160.7

In [61]:
dataset["fi"].max(), dataset["fi"].idxmax()

(11, 2)

In [62]:
dataset[dataset["fi"] == dataset["fi"].max()]

   lower  upper  fi     xi   fi.xi  Fi
2    158    162  11  160.0  1760.0  25

In [63]:
dataset[dataset["fi"] == dataset["fi"].max()]["xi"].values[0]

160.0

In [64]:
dataset

   lower  upper  fi     xi   fi.xi  Fi
0    150    154   5  152.0   760.0   5
1    154    158   9  156.0  1404.0  14
2    158    162  11  160.0  1760.0  25
3    162    166   7  164.0  1148.0  32
4    166    170   5  168.0   840.0  37
5    170    174   3  172.0   516.0  40

In [65]:
fi_2 = dataset["fi"].sum() / 2

fi_2

20.0

In [66]:
for row in dataset.iterrows():
    lower_limit = row[1]["lower"]
    class_frequency = row[1]["fi"]
    id_pass_frequency = row[0]

    if fi_2 <= row[1]["Fi"]:
        id_pass_frequency -= 1
        break

id_pass_frequency

1

In [67]:
Fi_past = dataset.iloc[id_pass_frequency]["Fi"]

Fi_past

14.0

In [68]:
median = lower_limit + ((fi_2 - Fi_past) / class_frequency) * 4

median

160.1818181818182

### Geometric, Harmonic, Quadratic Mean

In [69]:
from scipy.stats.mstats import gmean, hmean

In [70]:
data = original_data

gmean(data), hmean(data)

(160.26958390038905, 160.1647194799467)

In [71]:
def quadratic_mean(data):
    return math.sqrt((data**2).sum() / len(data))


quadratic_mean(data)

160.48091786876097

### Quartis

In [72]:
odd_data = [150, 151, 152, 152, 153, 154, 155, 155, 155]

np.median(odd_data)

153.0

In [73]:
median_position = len(odd_data) // 2

median_position

4

In [74]:
left = odd_data[0:median_position]
right = odd_data[median_position + 1 :]

left, right

([150, 151, 152, 152], [154, 155, 155, 155])

In [75]:
q1 = np.median(left)
q3 = np.median(right)

q1, q3

(151.5, 155.0)

### Easy way

In [76]:
np.quantile(odd_data, 0.25), np.quantile(odd_data, 0.50), np.quantile(odd_data, 0.75)

(152.0, 153.0, 155.0)

In [77]:
np.quantile(data, 0.25), np.quantile(data, 0.50), np.quantile(data, 0.75)

(155.75, 160.0, 164.0)

#### scipy

In [78]:
stats.scoreatpercentile(data, 25), stats.scoreatpercentile(data, 50), stats.scoreatpercentile(data, 75)

(155.75, 160.0, 164.0)

#### pandas

In [79]:
pd.Series(data).quantile([0.25, 0.50, 0.75])

0.25    155.75
0.50    160.00
0.75    164.00
dtype: float64