In [115]:
import pandas as pd
import numpy as np
import random

In [116]:
data = pd.read_csv("data/census.csv")

data.shape

(32561, 15)

In [117]:
data.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [118]:
data.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Simple Random Sampling

In [119]:
df_sample = data.sample(n=1000, replace=False)

df_sample.shape

(1000, 15)

In [120]:
def get_random_sample(data, n):
    return data.sample(n=n, replace=False)


df_sample = get_random_sample(data, 1000)

df_sample.shape

(1000, 15)

# Systematic Sampling

In [121]:
data.shape

(32561, 15)

In [122]:
random.randint(0, len(data) // 100)

163

In [123]:
np.arange(random.randint(0, len(data) // 100), len(data), len(data) // 100)

array([  305,   630,   955,  1280,  1605,  1930,  2255,  2580,  2905,
        3230,  3555,  3880,  4205,  4530,  4855,  5180,  5505,  5830,
        6155,  6480,  6805,  7130,  7455,  7780,  8105,  8430,  8755,
        9080,  9405,  9730, 10055, 10380, 10705, 11030, 11355, 11680,
       12005, 12330, 12655, 12980, 13305, 13630, 13955, 14280, 14605,
       14930, 15255, 15580, 15905, 16230, 16555, 16880, 17205, 17530,
       17855, 18180, 18505, 18830, 19155, 19480, 19805, 20130, 20455,
       20780, 21105, 21430, 21755, 22080, 22405, 22730, 23055, 23380,
       23705, 24030, 24355, 24680, 25005, 25330, 25655, 25980, 26305,
       26630, 26955, 27280, 27605, 27930, 28255, 28580, 28905, 29230,
       29555, 29880, 30205, 30530, 30855, 31180, 31505, 31830, 32155,
       32480])

In [124]:
def systematic_sample(data, n=100):
    indices = np.arange(random.randint(0, len(data) // n), len(data), len(data) // 100)
    return data.iloc[indices]


df_sample = systematic_sample(data)

df_sample

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
335,17,Private,270942,5th-6th,3,Never-married,Other-service,Other-relative,White,Male,0,0,48,Mexico,<=50K
660,44,Self-emp-not-inc,335183,12th,8,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,>50K
985,63,Private,254907,Assoc-voc,11,Divorced,Other-service,Not-in-family,White,Female,0,0,20,United-States,<=50K
1310,45,Federal-gov,283037,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31210,35,Private,175232,HS-grad,9,Divorced,Handlers-cleaners,Other-relative,White,Male,0,0,40,United-States,<=50K
31535,51,Self-emp-not-inc,291755,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,42,United-States,<=50K
31860,21,Private,224640,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,40,United-States,<=50K
32185,52,Self-emp-not-inc,185407,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K

# Cluster Sampling

In [125]:
groupSize = len(data) // 10

groups = []
groupId = 0
counter = 0

for _ in range(len(data)):
    groups.append(groupId)
    counter += 1
    if counter > groupSize:
        counter = 0
        groupId += 1


np.unique(groups, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248]))

In [126]:
np.shape(groups), data.shape

((32561,), (32561, 15))

In [127]:
data["group"] = groups

data.head(10)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,group
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,0
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,0

In [128]:
data_grouped = data[data["group"] == random.randint(0, 9)]

data_grouped.shape

(3257, 16)

In [129]:
data_grouped["group"].value_counts()

group
8    3257
Name: count, dtype: int64

In [130]:
def group_sampling(data, group_count):
    groupSize = len(data) // group_count
    groups = []
    groupId = 0
    counter = 0

    for _ in range(len(data)):
        groups.append(groupId)
        counter += 1
        if counter > groupSize:
            counter = 0
            groupId += 1

    data["group"] = groups
    data_grouped = data[data["group"] == random.randint(0, group_count - 1)]
    return data_grouped


df_group_sample = group_sampling(data, 100)

df_group_sample.shape, df_group_sample["group"].value_counts()

((326, 16),
 group
 27    326
 Name: count, dtype: int64)

In [131]:
df_group_sample.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,group
8802,50,Private,180522,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,38,United-States,<=50K,27
8803,23,Local-gov,203353,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Female,0,0,12,United-States,<=50K,27
8804,30,Private,87469,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K,27
8805,20,?,216563,11th,7,Never-married,?,Other-relative,White,Male,0,0,40,United-States,<=50K,27
8806,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,United-States,>50K,27


# Stratified sampling

In [132]:
from sklearn.model_selection import StratifiedShuffleSplit

In [133]:
data["income"].value_counts()

income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [134]:
moreThan50k = data[data["income"] == " >50K"].shape[0] / data.shape[0]

moreThan50k

0.2408095574460244

In [135]:
lessThan50k = data[data["income"] == " <=50K"].shape[0] / data.shape[0]

lessThan50k

0.7591904425539756

In [136]:
test_size = 100 / data.shape[0]

split = StratifiedShuffleSplit(test_size=test_size)

for x, y in split.split(data, data["income"]):
    strat_train = data.loc[x]
    strat_test = data.loc[y]

strat_train.shape, strat_test.shape

((32461, 16), (100, 16))

In [137]:
def stratified_sample(data, column, value, n=100):
    split = StratifiedShuffleSplit(n_splits=1, test_size=n / len(data), random_state=42)
    for train_index, test_index in split.split(data, data[column] == value):
        return data.iloc[test_index]


df_stratified_sample = stratified_sample(data, "income", " >50K", 100)

df_stratified_sample.shape

(100, 16)

In [138]:
strat_test["income"].value_counts()

income
<=50K    76
>50K     24
Name: count, dtype: int64

# Reservoir Sampling

In [139]:
def reservoir_sampling(data, samples):
    data_stream = []

    for i in range(len(data)):
        data_stream.append(i)

    i = 0
    size = len(data_stream)

    reservoir = [0] * samples

    for i in range(samples):
        reservoir[i] = data_stream[i]

    while i < size:
        j = random.randrange(i + 1)
        if j < samples:
            reservoir[j] = data_stream[i]
        i += 1

    return data.iloc[reservoir]


df_reservoir_sample = reservoir_sampling(data, 100)

df_reservoir_sample.shape

(100, 16)

In [140]:
df_reservoir_sample.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,group
14660,41,Private,174201,HS-grad,9,Divorced,Handlers-cleaners,Unmarried,White,Male,0,0,40,United-States,<=50K,44
26834,38,Private,222450,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,82
13360,35,Self-emp-not-inc,190895,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,25,United-States,<=50K,40
19532,27,Private,133929,Bachelors,13,Never-married,Prof-specialty,Unmarried,White,Female,0,0,36,?,<=50K,59
4333,28,Self-emp-inc,115705,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K,13

# Comparing Sampling

In [141]:
credit_data = pd.read_csv("data/credit_data.csv")

credit_data.shape

(2000, 5)

In [142]:
credit_data.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [143]:
print("Age mean: ", round(credit_data["age"].mean(), 2))
print("Income mean: ", round(credit_data["income"].mean(), 2))
print("Loan mean: ", round(credit_data["loan"].mean(), 2))

Age mean:  40.81
Income mean:  45331.6
Loan mean:  4444.37

In [144]:
random_sample = get_random_sample(credit_data, 500)

print("Random sample Age mean: ", round(random_sample["age"].mean(), 2))
print("Random sample Income mean: ", round(random_sample["income"].mean(), 2))
print("Random sample Loan mean: ", round(random_sample["loan"].mean(), 2))

Random sample Age mean:  41.56
Random sample Income mean:  44715.31
Random sample Loan mean:  4305.02

In [145]:
systematic_sample = systematic_sample(credit_data, 500)

print("Systematic sample Age mean: ", round(systematic_sample["age"].mean(), 2))
print("Systematic sample Income mean: ", round(systematic_sample["income"].mean(), 2))
print("Systematic sample Loan mean: ", round(systematic_sample["loan"].mean(), 2))

Systematic sample Age mean:  41.06
Systematic sample Income mean:  47179.04
Systematic sample Loan mean:  5176.67

In [146]:
cluster_sample = group_sampling(credit_data, 10)

print("Cluster sample Age mean: ", round(cluster_sample["age"].mean(), 2))
print("Cluster sample Income mean: ", round(cluster_sample["income"].mean(), 2))
print("Cluster sample Loan mean: ", round(cluster_sample["loan"].mean(), 2))

Cluster sample Age mean:  40.75
Cluster sample Income mean:  45362.97
Cluster sample Loan mean:  4330.29

In [147]:
stratified_sample = stratified_sample(credit_data, "c#default", 1, 500)

print("Stratified sample Age mean: ", round(stratified_sample["age"].mean(), 2))
print("Stratified sample Income mean: ", round(stratified_sample["income"].mean(), 2))
print("Stratified sample Loan mean: ", round(stratified_sample["loan"].mean(), 2))

Stratified sample Age mean:  40.74
Stratified sample Income mean:  45046.14
Stratified sample Loan mean:  4464.07

In [148]:
reservoir_sample = reservoir_sampling(credit_data, 500)

print("Reservoir sample Age mean: ", round(reservoir_sample["age"].mean(), 2))
print("Reservoir sample Income mean: ", round(reservoir_sample["income"].mean(), 2))
print("Reservoir sample Loan mean: ", round(reservoir_sample["loan"].mean(), 2))

Reservoir sample Age mean:  39.79
Reservoir sample Income mean:  44944.83
Reservoir sample Loan mean:  4476.46