In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
data = pd.read_csv("data/census.csv")

data.shape

(32561, 15)

In [3]:
data.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Simple Random Sampling

In [5]:
df_sample = data.sample(n=1000, replace=False)

df_sample.shape

(1000, 15)

In [ ]:
def get_random_sample(data, n):
    return data.sample(n=n, replace=False)


df_sample = get_random_sample(data, 1000)

df_sample.shape

(1000, 15)

# Systematic Sampling

In [7]:
data.shape

(32561, 15)

In [8]:
random.randint(0, len(data) // 100)

34

In [9]:
np.arange(random.randint(0, len(data) // 100), len(data), len(data) // 100)

array([  205,   530,   855,  1180,  1505,  1830,  2155,  2480,  2805,
        3130,  3455,  3780,  4105,  4430,  4755,  5080,  5405,  5730,
        6055,  6380,  6705,  7030,  7355,  7680,  8005,  8330,  8655,
        8980,  9305,  9630,  9955, 10280, 10605, 10930, 11255, 11580,
       11905, 12230, 12555, 12880, 13205, 13530, 13855, 14180, 14505,
       14830, 15155, 15480, 15805, 16130, 16455, 16780, 17105, 17430,
       17755, 18080, 18405, 18730, 19055, 19380, 19705, 20030, 20355,
       20680, 21005, 21330, 21655, 21980, 22305, 22630, 22955, 23280,
       23605, 23930, 24255, 24580, 24905, 25230, 25555, 25880, 26205,
       26530, 26855, 27180, 27505, 27830, 28155, 28480, 28805, 29130,
       29455, 29780, 30105, 30430, 30755, 31080, 31405, 31730, 32055,
       32380])

In [10]:
def systematic_sample(data, n=100):
    indices = np.arange(random.randint(0, len(data) // n), len(data), len(data) // 100)
    return data.iloc[indices]


df_sample = systematic_sample(data)

df_sample

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
313,36,Self-emp-not-inc,205607,Bachelors,13,Divorced,Prof-specialty,Not-in-family,Black,Female,0,0,40,United-States,>50K
638,47,Self-emp-inc,248145,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,Cuba,<=50K
963,36,Private,526968,10th,6,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
1288,37,Private,37238,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,45,United-States,<=50K
1613,54,Private,53833,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31188,38,Private,269318,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,5178,0,50,United-States,>50K
31513,57,Private,132704,Masters,14,Separated,Prof-specialty,Not-in-family,White,Male,10520,0,32,United-States,>50K
31838,34,Local-gov,231826,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,El-Salvador,<=50K
32163,36,State-gov,135874,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32488,32,Private,164190,Some-college,10,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K

# Cluster Sampling

In [11]:
groupSize = len(data) // 10

groups = []
groupId = 0
counter = 0

for _ in range(len(data)):
    groups.append(groupId)
    counter += 1
    if counter > groupSize:
        counter = 0
        groupId += 1


np.unique(groups, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248]))

In [12]:
np.shape(groups), data.shape

((32561,), (32561, 15))

In [ ]:
data["group"] = groups

data.head(10)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,group
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,0
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,0

In [ ]:
data_grouped = data[data["group"] == random.randint(0, 9)]

data_grouped.shape

(3257, 16)

In [ ]:
data_grouped["group"].value_counts()

group
4    3257
Name: count, dtype: int64

In [ ]:
def group_sampling(data, group_count):
    groupSize = len(data) // group_count
    groups = []
    groupId = 0
    counter = 0

    for _ in range(len(data)):
        groups.append(groupId)
        counter += 1
        if counter > groupSize:
            counter = 0
            groupId += 1

    data["group"] = groups
    data_grouped = data[data["group"] == random.randint(0, group_count - 1)]
    return data_grouped


df_group_sample = group_sampling(data, 100)

df_group_sample.shape, df_group_sample["group"].value_counts()

((326, 16),
 group
 75    326
 Name: count, dtype: int64)

In [17]:
df_group_sample.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,group
24450,35,Private,77146,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K,75
24451,47,Private,82797,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K,75
24452,33,Self-emp-not-inc,134886,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K,75
24453,40,Self-emp-inc,218558,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,75
24454,38,Private,207568,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,75


# Stratified sampling

In [18]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
data["income"].value_counts()

income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [ ]:
moreThan50k = data[data["income"] == " >50K"].shape[0] / data.shape[0]

moreThan50k

0.2408095574460244

In [ ]:
lessThan50k = data[data["income"] == " <=50K"].shape[0] / data.shape[0]

lessThan50k

0.7591904425539756

In [27]:
test_size = 100 / data.shape[0]

split = StratifiedShuffleSplit(test_size=test_size)

for x, y in split.split(data, data["income"]):
    strat_train = data.loc[x]
    strat_test = data.loc[y]

strat_train.shape, strat_test.shape

((32461, 16), (100, 16))

In [29]:
strat_test["income"].value_counts()

income
<=50K    76
>50K     24
Name: count, dtype: int64

# Reservoir Sampling

In [30]:
def reservoir_sampling(data, samples):
    data_stream = []

    for i in range(len(data)):
        data_stream.append(i)

    i = 0
    size = len(data_stream)

    reservoir = [0] * samples

    for i in range(samples):
        reservoir[i] = data_stream[i]

    while i < size:
        j = random.randrange(i + 1)
        if j < samples:
            reservoir[j] = data_stream[i]
        i += 1

    return data.iloc[reservoir]


df_reservoir_sample = reservoir_sampling(data, 100)

df_reservoir_sample.shape

(100, 16)

In [31]:
df_reservoir_sample.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,group
13459,35,Private,239755,Some-college,10,Never-married,Sales,Unmarried,White,Male,0,0,50,United-States,<=50K,41
10498,74,Self-emp-not-inc,119129,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,2149,20,United-States,<=50K,32
481,43,Self-emp-not-inc,170721,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,20,United-States,<=50K,1
26884,34,Private,167832,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,82
21941,24,Private,165474,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,39,United-States,<=50K,67